.header {
  padding-top: 0.5rem;
  background: url("../images/bg/logoBG.png") left 300% no-repeat;
  &__menu {
    display: flex;
    align-items: center;
    &-link {
      margin-right: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.7rem;
      height: 6.99rem;
      list-style-type: none;

      a {
        font-weight: 500;
        font-size: 1.12rem;
        line-height: 1.25rem;
        color: #928a97;
        &:hover {
          transition: all 0.5s;
          text-decoration: none;
          color: #f44336;
          font-size: 1.25rem;
        }
      }
      .link-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        line-height: 1.25rem;

        color: #f44336;
        &:hover {
          transition: all 0.5s;
          font-size: 1.12rem;
        }
      }
    }
  }
}

.hamburger {
  display: none;
}
