@media (max-width: 910px) {
  .header {
    &__menu {
      &-link {
        a {
          color: #f44336;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    padding-top: 1rem;
    background: none;
    &__menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      z-index: 10;
      background-color: rgba(155, 39, 187, 0.8);
      opacity: 0;
      transition: 0.6s all;
      &-active {
        left: 0;

        opacity: 1;
      }
    }
  }
  .hamburger {
    position: absolute;

    top: 20px;
    right: 30px;

    display: block;
    width: 45px;
    height: 12px;
    span {
      display: block;
      height: 5px;
      width: 100%;
      background-color: #f44336;
      margin-bottom: 5px;
      transition: 0.5s all;
    }
    &-active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
}
