.promo {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: url("../images/bg/mainBG.png") center (center/cover) no-repeat;
  &__title {
    margin-top: 13.5rem;
    font-style: normal;
    font-weight: 800;
    font-size: 2.37rem;
    line-height: 2.68rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
  }
  &__subtitle {
    margin: 1rem 0 2rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.68rem;
    color: #b9b3b3;
  }
  &__social {
    display: flex;

    &-link {
      margin-right: 1rem;
      display: block;
      width: 2.25rem;
      height: 2.25rem;

      svg {
        display: block;
        fill: #928a97;
        width: 100%;
        height: 100%;
        &:hover {
          transition: all 0.5s;
          fill: #f44336;
        }
      }
    }
  }
}

// #f44336
